* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #3a3a3a;
  color: #8c7000;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Dosis', serif;
  font-weight: 200;
}

a,
button {
  color: #8c7000;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

section {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding-top: 2rem;
  margin-bottom: 6rem;
  position: relative;
}

header {
  position: relative;
	height: 90vh;
	font-family: 'Julius Sans One';
	font-weight: 400;
}

nav {
  text-align: center;
}

nav a {
  border-bottom: 1px solid currentColor;
  font-size: 0.8em;
  margin: 0 0.25em;
  padding: 0 0.05em;
}

header:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0)),
    to(#fff)
  );
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #fff);
  background: -o-linear-gradient(rgba(255, 255, 255, 0), #fff);
  background: linear-gradient(rgba(255, 255, 255, 0), #fff);
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.header__bg .flower {
  width: 10%;
}

.flower img {
  width: 25%;
  margin: 0 auto;
  opacity: 0.5;
}

.header__hed {
  font-size: 4rem;
	line-height: 1;
	/* font-family: 'Cinzel Decorative'; */
  /* font-family: 'Amatic SC', cursive; */
}

.header__dek {
  padding-left: 0.2em;
	letter-spacing: 0.05em;
	/* font-family: 'Cinzel Decorative'; */
  /* font-family: 'Amatic SC', cursive; */
}

.header__info {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 1rem;
  text-shadow: 0 0 5px #fff;
  background-color: rgba(255, 255, 255, 1);
  transform: translateY(-50%);
}

.masonry {
  /* max-width: 60rem;
  margin: 0 auto;
  -moz-column-fill: initial;
  -webkit-column-fill: initial;
  column-fill: initial;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 0.5rem;
  -webkit-column-gap: 0.5rem;
	column-gap: 0.5rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.masonry .col {
  width: 50%;
}

.masonry figure {
  position: relative;
  border: 4px solid white;
}

.masonry img {
  background-color: #eee;
  display: block;
  width: 100%;
}

.masonry figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-shadow: 0 0 3px black;
  font-size: 13px;
  letter-spacing: 0.05em;
  padding: 0.5em;
  line-height: 1;
  text-align: right;
}

#about .prose {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}

#about .prose p {
	/* text-align: justify; */
	letter-spacing: 0.01em;
  margin-bottom: 1rem;
}

#about img {
  display: block;
  /* float: left; */
  max-width: 15rem;
  width: 50%;
  margin: 1.5rem auto;
  border-radius: 50%;
  border: 1px solid #efefef;
}

footer {
  height: 5rem;
  background-color: #8c7000;
}

@media (min-width: 640px) {
  body {
    font-size: 24px;
  }

  .header__info {
    left: 12.5%;
  }
  #about .prose p {
    /* -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 2rem;
    -webkit-column-gap: 2rem;
    column-gap: 2rem; */
  }
}
